.add-new-exams {
  background-color: green;
  color: #fff;
  border-color: green;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

#exams {
  height: 95%;
  width: 100%;
  /* border: 1px solid #dddddd; */
}

/*=================================================================================================
 = exams list
=================================================================================================*/
#exams .exams-list {
  width: calc(100% - 0rem);
  height: 100%;
  /* border-right: 1px solid #DDDDDD; */
  padding: 1.25rem 2rem 0;
}

.exams-list h2 {
  padding-bottom: 0.5rem;
}

.exams-list .table-container {
  height: calc(100% - 2.6rem);
  background-color: #ffffff;
  border-radius: 0.25rem;
  border: 1px solid #dddddd;
}

.exams-list .exams-list-table {
  border-radius: 0;
  border-collapse: collapse;
}

.exams-list-table thead th {
  border-radius: 0;
  background-color: #1976d2;
  color: #ffffff;
  font-family: "Roboto-Medium", "Roboto Medium", "Roboto", "Helvetica", "Arial",
    sans-serif;
  padding: 1rem 0.45rem;
  text-align: center;
}

.exams-list-table tbody td {
  padding: 0.75rem 0.45rem;
  text-align: center;
}

.exams-list-table tbody * {
  font-family: "Roboto-Regular", "Roboto", "Helvetica", "Arial", sans-serif;
}

.exams-list-table .ant-pagination.ant-table-pagination {
  margin: 1rem 1rem 0;
}

.exams-list-table
  .ant-pagination.ant-table-pagination
  .ant-pagination-item.ant-pagination-item-active {
  background-color: #2196f3;
  border-color: #2196f3;
}

.exams-list-table tbody tr td:last-of-type {
  width: 10rem;
}

.exams-list-table .action-column {
  width: 100%;
}

.exams-list-table .action-column button {
  width: 4rem;
  margin: 0 0.275rem;
  height: 1.5rem;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  border-radius: 0.25rem;
  font-size: 0.875rem;
}

.exams-list-table .action-column button.delete {
  border-color: #d32f2f;
  color: #d32f2f;
}

.exams-list-table .action-column button.edit {
  border-color: #2196f3;
  background-color: #2196f3;
  color: #ffffff;
  transition: 100ms;
}

.exams-list-table .action-column button.edit:hover {
  border-color: #1976d2;
  background-color: #1976d2;
}

/*=================================================================================================
 = New exams
=================================================================================================*/
#exams .new-exams {
  height: 100%;
  width: 80%;
  margin: 0rem auto;
}

.new-exams h2 {
  font-size: 1.25rem;
  color: #666666;
  text-align: center;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid #999999;
  margin-bottom: 2rem;
}

.new-exams label {
  font-size: 0.9rem;
  display: block;
  color: #aaaaaa;
  margin-bottom: 0.6rem;
}

.new-exams .form-input {
  width: 100%;
  display: block;
  height: 2.5rem;
  padding: 0 0.5rem;
  margin-bottom: 1.5rem;
  border-radius: 0.25rem;
  border: 2px solid #dddddd;
  background-color: #ffffff;
  transition: 80ms;
}

.new-exams .form-input:focus {
  border-color: #aaaaaa;
}

.new-exams .form-input:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.new-exams button {
  display: block;
  width: calc(100% - 2rem);
  background-color: #2196f3;
  height: 2.5rem;
  font-size: 0.9rem;
  border: none;
  border-radius: 0.25rem;
  color: #ffffff;
  font-family: "Roboto-Medium", "Roboto", "Helvetica", "Arial", sans-serif;
  margin: 0 1rem;
  cursor: pointer;
  transition: 100ms;
}

.new-exams button:hover,
.new-exams button:focus {
  background-color: #1976d2;
}

.new-exams .cancel-button {
  margin-top: 1rem;
  border: 1px solid #2196f3;
  background: transparent;
  color: #2196f3;
}

.exams-search-container {
  float: right;
  width: 100%;
  text-align: center;
}

.filter-options {
  margin-bottom: 1rem;
}

.ant-tabs:not(.ant-tabs-vertical)
  > .ant-tabs-content
  > .ant-tabs-tabpane
  #exams {
  height: 100%;
}

.big-calender-exams {
    height: 90%;
    overflow-y: auto;
    margin: 1rem auto;
}

.exam-selector {
  /* padding: 0 1rem; */
  width: 100%;
}

.new-schedule label {
  font-size: 0.9rem;
  display: block;
  color: #AAAAAA;
  margin-bottom: 0.6rem;
  width: 70%;
  display: block;
  margin: 0rem auto 0.6rem auto;
}

.new-schedule-select {
  width: 70%;
  display: block;
  margin: 1rem auto;
}